body{
    background-color: rgba(0, 0, 0, 0); 
}
h1 , button{ color:lightcoral;
    text-align:center;
    text-transform:uppercase;
}
.img{
    opacity: 0.5;
}
P{
    color:aliceblue
}
.button-container{
    text-align: center;
}
em{
    color: darkred;
}
title{
    color: lightcoral
}