body{
    background-color: black; 
}
h1 , button{ color:lightcoral;
    text-align:center;
    text-transform:uppercase;
}
.anya{
    opacity: 0.4;
    width: 300px;
}
.copyright{
    text-align:center;
    text-shadow:2px 2px 5px rgb(64, 97, 207);
}
.email{
    color:pink;
}
p{
    color: rgb(177, 68, 28);
}
.button-container{
    text-align: center;
    
}
em{
    color: darkred;
}
title{
    color: lightcoral;
}
.questions-container{
        text-align: center;
        color: orange;
}
.sailor{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}